.container.text-center.mt-3
  .row.justify-content-center
    .col-sm-12.col-md-12  
      .d-flex.flex-row-reverse
        = link_to "New Asset", new_company_asset_path, class: "btn btn-primary mb-4"

      %table.table.table-sm.table-light.table-hover
        %thead
          %tr
            %th{scope: "col"} #
            %th{scope: "col"} Name
            %th{scope: "col"} Quantity
            %th{scope: "col"} Description
            %th{scope: "col"} Action
        %tbody
          - @company_assets.each.with_index(1) do |asset, index|
            %tr
              %th= index
              %td= asset.name
              %td= asset.quantity
              %td= asset.description
              %td
                = link_to "Edit", edit_company_asset_path(asset)