= form_with model: @company_asset do |form|
  .mb-3
    = form.label :name
    = form.text_field :name, class: "form-control"
  .mb-3
    = form.label :quantity
    = form.number_field :quantity, class: "form-control"
  .mb-3
    = form.label :description
    = form.text_area :description, class: "form-control"
  = form.submit class: "btn btn-primary"