.container.text-center.mt-3
  .row.justify-content-center
    .col-sm-12.col-md-12  
      .d-flex.flex-row-reverse
        = link_to "New Spending Log", new_spending_log_path, class: "btn btn-primary mb-4"

      %table.table.table-sm.table-md.table-light.table-hover
        %thead
          %tr
            %th{scope: "col"} #
            %th{scope: "col"} Date
            %th{scope: "col"} Type
            %th{scope: "col"} Action
            %th{scope: "col"} Amount
            %th{scope: "col"} Quantity
            %th{scope: "col"} Descrption
            %th{scope: "col"} Action
        %tbody
          - @spending_logs.each.with_index(1) do |log, index|
            %tr
              %th= index
              %th= log&.spending_date&.strftime("%B %d, %Y")
              %td= log.spending_type
              %td= log.action
              %td= log.amount
              %td= log.quantity
              %td= log.description
              %td
                = link_to "Edit", edit_spending_log_path(log)